* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, sans-serif;
}

/* Navbar */
.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px 40px;
  background: #000;
  color: #fff;
  position: sticky;
  top: 0;
  z-index: 1000;
}

.navbar nav a {
  margin-left: 20px;
  color: #fff;
  text-decoration: none;
}

.menu-toggle {
  display: none;
  font-size: 26px;
  cursor: pointer;
}

/* Hero */
.hero {
  height: 100vh;
  background-image: url("https://images.unsplash.com/photo-1490481651871-ab68de25d43d");
  background-size: cover;
  background-position: center;
}


.hero-overlay {
  background: rgba(0,0,0,0.45);
  height: 100%;
  display: flex;
  align-items: center;
  padding: 0 60px;
}

.hero-text {
  color: #fff;
  max-width: 500px;
}

.hero-text h1 {
  font-size: 52px;
  margin-bottom: 15px;
}

.hero-text p {
  font-size: 18px;
  margin-bottom: 25px;
}

.hero-text button {
  padding: 14px 35px;
  border: none;
  background: #fff;
  color: #000;
  cursor: pointer;
}

/* Categories */
.categories {
  display: flex;
  gap: 20px;
  padding: 60px 40px;
}

.cat-card {
  flex: 1;
  height: 220px;
  background-size: cover;
  background-position: center;
  display: flex;
  align-items: flex-end;
}

.cat-card span {
  width: 100%;
  text-align: center;
  padding: 12px;
  background: rgba(0,0,0,0.6);
  color: #fff;
}

/* Products */
.products {
  padding: 60px 40px;
}

.products h2 {
  text-align: center;
  margin-bottom: 40px;
}

.product-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(220px, 1fr));
  gap: 25px;
}

.product img {
  width: 100%;
  height: 280px;
  object-fit: cover;
}

.product h4 {
  margin: 10px 0;
}

/* Offer */
.offer {
  background: #000;
  color: #fff;
  text-align: center;
  padding: 60px 20px;
}

.offer button {
  margin-top: 20px;
  padding: 12px 30px;
}

/* Newsletter */
.newsletter {
  text-align: center;
  padding: 60px 20px;
}

.newsletter-box {
  margin-top: 20px;
}

.newsletter input {
  padding: 10px;
  width: 250px;
}

.newsletter button {
  padding: 10px 20px;
}

/* Footer */
footer {
  background: #111;
  color: #aaa;
  text-align: center;
  padding: 15px;
}

/* Responsive */
@media (max-width: 768px) {
  .menu-toggle {
    display: block;
  }

  nav {
    display: none;
    flex-direction: column;
    background: #000;
    position: absolute;
    top: 60px;
    right: 0;
    width: 100%;
    text-align: center;
  }

  nav a {
    padding: 15px;
    display: block;
  }

  .hero-overlay {
    padding: 20px;
    justify-content: center;
    text-align: center;
  }

  .hero-text h1 {
    font-size: 34px;
  }

  .categories {
    flex-direction: column;
  }
}
.footer {
  text-decoration: none;
}
